/src/*.o
/src/*.so
/src/*.a
/src/*.ax
/src/*.gcda
/src/*.gcno
/src/*.gcov
/src/symbols.rds
/src/Makevars
/src/cpp
/src/install
/README.html
/src/extra/cmake/R-4.*/protobuf-targets.cmake
/src/otelcpplib
docs
/tests/testthat/results.rds
/dev-lib
/.dev
